body{
    background-image: url(farmer.jpg);

    background-size: cover;
  }
  .lbox{
    position: relative;
    width: 250px;
    margin: 0 auto;
    background: rgba(130,130,130,.3);
    padding: 20px 22px;
    border: 1px solid;
    border-top-color: rgba(255,255,255,.4);
    border-left-color: rgba(255,255,255,.4);
    border-bottom-color: rgba(60,60,60,.4);
    border-right-color: rgba(60,60,60,.4);
  }
  
